
.header {

  .example-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar {
    background: transparent;

    .logo {
      width: 150px;
    }

    .mat-button {
      border-radius: 60px;
      color: #517647;

      &:hover {
        color: white;
        background-color: #517647;
      }
    }


    .menu_icon {
      width: 40px;
      height: 40px;
      margin: auto;
      z-index: 10;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      padding: 5px 0;
    }

    .menu_icon span {
      position: absolute;
      display: block;
      height: 5px;
      width: 40px;
      background-color: rgb(82, 77, 77);
      transform: rotate(0);
      transition: all 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }

    span.one {
      top: 0;
    }

    span.two {
      top: 20px;
    }

    span.three {
      top: 40px;
    }

    .clicked .one {
      transform: translateY(20px) rotate(45deg);
    }

    .clicked .two {
      opacity: 0;
    }

    .clicked .three {
      transform: translateY(-20px) rotate(-45deg);
    }
  }
}
