.cont {

  background-color: rgb(246, 246, 242);

  .header {
    color: #76c463;
  }

  .features {
    color: rgb(82, 77, 77);


    .text {

      .feature-header {
        font-size: 20px;
        font-weight: bold;
      }

      .feature-text {
        font-size: 16px;
      }
    }
  }
}

