.container {
  padding: 32px 64px 0 64px;
  background-color: rgb(246, 246, 242);

  .header {
    font-size: 24px;
    font-weight: bold;
    color: #76c463;
  }

  .features {
    color: rgb(82, 77, 77);

    .image {
      width: 40%;

      img {
        max-height: 500px;
      }
    }

    .text {
      width: 60%;
      .feature-header {
        font-size: 20px;
        font-weight: bold;
      }

      .feature-text {
        font-size: 16px;
      }
    }
  }
}

