<div class="cont p-8  sm:p-10" fxLayout="column" fxLayoutAlign=" center" fxLayoutGap="16px">
  <div class="header">Features</div>

  <div class="features flex flex-col md:flex-row">

    <div class="image">
      <img src="assets/features.png" alt="features">
    </div>

    <div class="text">

      <ng-template ngFor let-feature [ngForOf]="features">
        <div class="feature-header">{{feature.title}}</div>
        <p class="feature-text">
          {{feature.text}}
        </p>
      </ng-template>
    </div>
  </div>
</div>
