.hero {
  //padding: 64px 64px 16px 64px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-template-areas:
    "text-area image";

  .text-area {
    grid-area: text-area;

    .header-text {
      font-size: 30px;
      font-weight: bold;
      color: rgb(82, 77, 77);
      line-height: normal;
      margin-bottom: 32px;
    }


  }

  .actions {
    .mat-flat-button {
      border-radius: 60px;
      background-color: #76c463;
      color: white;
    }
  }

  .image {
    grid-area: image;

    img {
      width: 100%;
    }
  }

  .hero-arrow {
    margin-top: 32px;

    img {
      width: 50px;
    }
  }


  .shape-blob {
    background: #dffae8;
    height: 200px;
    width: 200px;
    border-radius: 30% 50% 20% 40%;
    animation: transform 30s ease-in-out infinite both alternate,
    movement_one 30s ease-in-out infinite both;
    opacity: .5;
    position: absolute;
    left: 70%;
    top: 30%;
    z-index: -1;
  }

  .shape-blob.one {
    background: #f2f3e7;
    height: 500px;
    width: 500px;
    left: -30%;
    top: -150px;
    transform: rotate(-180deg);
    animation: transform 60s ease-in-out infinite both alternate, movement_two 40s ease-in-out infinite both;
  }

  .shape-blob.two {
    background: #e7f3e8;
    height: 350px;
    width: 350px;
    left: 60%;
    top: -150px;
    transform: rotate(-180deg);
    animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
  }

  @keyframes transform {
    0%,
    100% {
      border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
    }
    20% {
      border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
    }
    40% {
      border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
    }
    60% {
      border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
    }
    80% {
      border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
    }
  }


  @keyframes movement_one {
    0%,
    100% {
      transform: none;
    }
    50% {
      transform: translate(50%, 20%) rotate(10deg) scale(1.2);
    }
  }

  @keyframes movement_two {
    0%,
    500% {
      transform: none;
    }
    50% {
      transform: translate(50%, 20%) rotate(-200deg) scale(1.2);
    }
  }
}
