<div class="hero  container py-8 mx-auto" style="max-width: 1440px" fxLayout="column" fxLayoutAlign=" center">
  <div class="flex flex-col gap-6">

    <div class="md:columns-2 md:mt-32">
      <div class="text-area mt-32">
        <div class="leading-[1] font-black text-[35px] lg:text-6xl tracking-tight">
          FEATURE OUR 360 VIDEO BOOTH AT YOUR NEXT EVENT
        </div>
      </div>

      <div class="image p-8">
        <img src="assets/hero.svg" alt="hero image">
      </div>
    </div>

    <div class="actions flex justify-center">
      <button class="w-4/5 md:w-1/4" mat-flat-button
              (click)="scrollToContact()">
        Get Quote
      </button>
    </div>

  </div>
  <div class="hero-arrow " fxLayout="column" fxLayoutAlign="center none">
    <picture>
      <source srcSet="assets/down-arrow.webp" type="image/webp"
              (click)="scrollToContact()"/>
      <img alt="down arrow" class="animate-bounce"
           (click)="scrollToContact()" src="assets/down-arrow.svg">
    </picture>

  </div>

  <div class="shape-blob w-64 h-64 top-[10%] left-0"></div>
  <div class="shape-blob one w-96 h-96 top-[30px] right-0"></div>
  <div class="shape-blob two w-80 h-80 -left-72"></div>
</div>
