<div class="hero" fxLayout="column" fxLayoutAlign=" center">
  <div fxLayout="row" fxLayoutAlign=" none">
    <div class="text-area" fxLayout="column" fxLayoutAlign="center none">
      <div class="text">
        FEATURE OUR 360 VIDEO BOOTH FOR YOUR NEXT EVENT
      </div>
      <div class="actions">
        <button mat-flat-button>
          Get Quote
        </button>
      </div>
    </div>

    <div class="image">
      <img src="assets/hero.svg" alt="hero image">
    </div>
  </div>
  <div class="hero-arrow" fxLayout="column" fxLayoutAlign="center none">
    <img alt="down arrow" src="assets/down-arrow.svg">
  </div>

  <div class="shape-blob"></div>
  <div class="shape-blob one"></div>
  <div class="shape-blob two"></div>
</div>
