<div class="hero p-8  sm:p-10" fxLayout="column" fxLayoutAlign=" center">
  <div class="flex flex-col gap-6">

    <div class="text-area mt-32" fxLayout="column" fxLayoutAlign="center none">
      <div class="leading-normal font-black text-3xl">
        FEATURE OUR 360 VIDEO BOOTH FOR YOUR NEXT EVENT
      </div>
    </div>

    <div class="image">
      <img src="assets/hero.svg" alt="hero image">
    </div>

    <div class="actions flex justify-center">
      <button class="w-4/5" mat-flat-button>
        Get Quote
      </button>
    </div>

  </div>
  <div class="hero-arrow " fxLayout="column" fxLayoutAlign="center none">
    <img alt="down arrow" class="animate-bounce" (click)="scrollToContact()" src="assets/down-arrow.svg">
  </div>

  <div class="shape-blob w-64 h-64 top-[10%] left-0"></div>
  <div class="shape-blob one w-96 h-96 top-[30px] right-0"></div>
  <div class="shape-blob two w-80 h-80 -left-72"></div>
</div>
