.demo-section {
  background-color: rgb(246, 246, 242);
  //padding: 32px 64px;

  .demo-header {
    //font-size: 24px;
    //font-weight: bold;
    color: #76c463;
  }

  .demo-description {
    font-size: 16px;
    color: rgb(82, 77, 77);
    //text-align: center;

  }

  .demo-video {
  }
}
