<div class="demo-section" fxLayout="column" fxLayoutAlign=" center" fxLayoutGap="16px">
  <div class="demo-header">360 Video Booth</div>

  <div class="demo-description">
    Guests stand on a platform where our camera spins 360 degrees around them
    creating an awesome 20second video in real time! We incorporate slow motion, video
    effects, filters, and music for your guests to enjoy. Guests will be able to share
    their video moments after making it.
  </div>
  <div class="demo-video">
    <video width="305" height="540" autoplay muted>
      <source src="assets/360Re-ImaginedReel.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>
