<div id="contact" class="container  py-8 mx-auto" >

  <div class="header tracking-tight text-4xl mb-4 font-bold text-header-green self-start md:self-center">
    Contact Us
  </div>

  <div class="content">

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

      <div class="md:row">
        <div class="w-full md:col">
          <mat-form-field class="full-width" color="primary">
            <input matInput placeholder="Full Name"
                   formControlName="fullName">
            <mat-error *ngIf="contactForm.controls['fullName'].hasError('required')">
              Full name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="md:col">
          <mat-form-field class="full-width" color="primary">
            <input matInput placeholder="Phone Number"
                   mask="000 000 0000"
                   formControlName="phoneNumber">
            <mat-error *ngIf="contactForm.controls['phoneNumber'].hasError('required')">
              Phone number is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="contactForm.controls['phoneNumber'].hasError('pattern')">
              Please enter a <strong>valid</strong> phone number
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="md:row">

        <div class="md:col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email"
                   formControlName="email">
            <mat-error *ngIf="contactForm.controls['email'].hasError('required')">
              Email address is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="contactForm.controls['email'].hasError('email')">
              Please enter a <strong>valid</strong> email
            </mat-error>
          </mat-form-field>
        </div>

        <div class="md:col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Message Subject"
                        formControlName="messageSubject">
              <mat-option *ngFor="let messageSubject of messageSubjects"
                          [value]="messageSubject">
                {{ messageSubject }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="contactForm.controls['messageSubject'].hasError('required')">
              Message Subject is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

      </div>


      <div class="md:row">

        <div class="md:col" *ngIf="isBooking() || isPricingEnquiry()">
          <mat-form-field class="full-width">
            <mat-select placeholder="Type of Function"
                        formControlName="eventType">
              <mat-option *ngFor="let event of eventTypes"
                          [value]="event">
                {{ event }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="contactForm.controls['eventType'].hasError('required')">
              Event type is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="md:col" *ngIf="isBooking()|| isPricingEnquiry()">
          <mat-form-field class="full-width">
            <input matInput placeholder="Venue"
                   formControlName="venue">
            <mat-error *ngIf="contactForm.controls['venue'].hasError('required')">
              Venue is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="md:row">
        <div class="md:col" *ngIf="isBooking()|| isPricingEnquiry()">
          <mat-form-field class="full-width">
            <input matInput placeholder="Number of hours"
                   formControlName="hours">
            <mat-error *ngIf="contactForm.controls['hours'].hasError('required')">
              Hours are <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="contactForm.controls['hours'].hasError('pattern')">
              Please enter a valid number
            </mat-error>
            <mat-error *ngIf="contactForm.controls['hours'].hasError('min')">
              Hours have to be greater than 0
            </mat-error>
          </mat-form-field>
        </div>

        <div class="md:col" *ngIf="isBooking()|| isPricingEnquiry()">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput
                   formControlName="date"
                   [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div>
      </div>


      <div class="md:row">

        <div class="md:col" *ngIf="isBooking()|| isPricingEnquiry()">
          <mat-form-field class="full-width">
            <textarea type="text" matInput rows="6"
                      style="resize: none"
                      placeholder="Your Requirements"
                      formControlName="requirements">
            </textarea>
          </mat-form-field>
        </div>

        <div class="md:col"
             *ngIf="isShowMessageField()">
          <mat-form-field class="full-width">
            <textarea type="text" matInput rows="6"
                      style="resize: none"
                      [placeholder]="determineMessagePlaceholder()"
                      formControlName="message">
            </textarea>
          </mat-form-field>
        </div>
      </div>

      <ngx-recaptcha2 [siteKey]="siteKey"
                      [type]="'image'"
                      formControlName="reCaptcha">
      </ngx-recaptcha2>

      <div class="actions flex justify-center mt-8">
        <a mat-flat-button color="primary"
           class="w-4/5 md:w-1/4" type="submit"
           [disabled]="!contactForm.valid"
           [href]="getMailHref()">
          Submit
        </a>

      </div>

    </form>

  </div>

  <!--  {{contactForm.value | json}}-->
  <!--  <br/>-->
  <!--  <br/>-->
  <!--  valid: {{contactForm.valid}}-->
</div>
