.container {

  .header {
  }

  .content {
  }

  form {
    mat-form-field {
      display: block;
    }

    .row {
      display: flex;
      flex-direction: row;

      .col {
        flex: 1;
        margin-right: 20px;
      }

      .col:last-child {
        margin-right: 0;
      }

      .full-width {
        width: 100%;
      }

    }

    .mat-flat-button {
      border-radius: 60px;
      background-color: #76c463;
      color: white;
    }

    .mat-button-disabled {
      background-color: #adadad;
    }
  }
}

textarea {
  resize: none;
}

