<div class="container">
  <app-header></app-header>

  <div class="body">

    <div class="hero" fxLayout="column" fxLayoutAlign=" center">
      <div fxLayout="row" fxLayoutAlign=" none">
        <div class="text-area" fxLayout="column" fxLayoutAlign="center none">
          <div class="text">
            FEATURE OUR 360 VIDEO BOOTH FOR YOUR NEXT EVENT
          </div>
          <div class="actions">
            <button mat-flat-button>
              Get Quote
            </button>
          </div>
        </div>

        <div class="image">
          <img src="assets/hero.svg" alt="hero image">
        </div>
      </div>
      <div class="hero-arrow" fxLayout="column" fxLayoutAlign="center none">
        <img alt="down arrow" src="assets/down-arrow.svg">
      </div>

      <div class="shape-blob"></div>
      <div class="shape-blob one"></div>
      <div class="shape-blob two"></div>
    </div>


    <div class="demo-section" fxLayout="column" fxLayoutAlign=" center" fxLayoutGap="16px">
      <div class="demo-header">360 Video Booth</div>

      <div class="demo-description">
        Guests stand on a platform where our camera spins 360 degrees around them
        creating an awesome 20second video in real time! We incorporate slow motion, video
        effects, filters, and music for your guests to enjoy. Guests will be able to share
        their video moments after making it.
      </div>
      <div class="demo-video">
        <video width="305" height="540" autoplay loop>
          <source src="assets/360%20Re-ImaginedReel.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>


    <div class="service-section" fxLayout="column" fxLayoutAlign=" center" fxLayoutGap="16px">
      <div class="service-header">We Provide Best Quality Service</div>
      <div class="service-description">
        Our 360 Reimagined video booth, available to rent for any event. Hop on the
        platform and create your own slow-motion, 360-degree slow- motion videos by
        yourself or with a group. It’s the perfect addition to any corporate event,
        school function, wedding, private party, or interactive brand activation looking
        to separate themselves from the rest.
      </div>
      <div class="services" fxLayout="row" fxLayoutAlign="center none">
        <div class="service-card activations" fxLayout="column" fxLayoutAlign=" center">
          <div class="image">
            <img src="assets/megaphone.png" alt="megaphone">
          </div>
          <div fxLayout="column" fxLayoutAlign=" center">
            <div>Brand Activations</div>
            <div>Generate hundreds, thousands, maybe even millions of impressions through social sharing, branded
                 overlays, custom backdrops and more.
            </div>
          </div>
        </div>

        <div class="service-card events" fxLayout="column" fxLayoutAlign=" center">
          <div class="image">
            <img src="assets/corporate-event.png" alt="corporate">
          </div>
          <div fxLayout="column" fxLayoutAlign=" center">
            <div>Corporate Events</div>
            <div>Give your team a guaranteed good time that will capture all the best moments from the event in 360
                 degree slow-motion.
            </div>
          </div>
        </div>

        <div class="service-card weddings" fxLayout="column" fxLayoutAlign=" center">
          <div class="image">
            <img src="assets/cocktail.png" alt="cocktail">
          </div>
          <div fxLayout="column" fxLayoutAlign=" center">
            <div>Weddings & Parties</div>
            <div>Grab some props, family or friends and get ready for the time of your life!</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
