app-header {
}

.body {

}

mat-sidenav-container {
  min-height: 100vh;

  mat-sidenav-container {
    min-height: 100vh;
    max-width: 100vw;

    mat-sidenav-content {
      .content {
        max-width: 100vw;
      }
    }
  }

}
