
.service-section {
  background-color: white;
  //padding: 32px 64px;

  .service-header {
    font-size: 24px;
    font-weight: bold;
    color: #76c463;
  }

  .service-description {
    font-size: 16px;
    color: rgb(82, 77, 77);
    //text-align: center;
  }

  .services {


  }
}
