<div class="service-section p-8  sm:p-10" fxLayout="column" fxLayoutAlign=" center" fxLayoutGap="16px">
  <div class="service-header">We Provide Best Quality Service</div>
  <div class="service-description md:text-center ">
    Our 360 Reimagined video booth, available to rent for any event. Hop on the
    platform and create your own slow-motion, 360-degree slow- motion videos by
    yourself or with a group. It’s the perfect addition to any corporate event,
    school function, wedding, private party, or interactive brand activation looking
    to separate themselves from the rest.
  </div>

  <div class="services flex flex-col gap-10 md:flex-row">
    <app-service-card *ngFor="let service of services" [serviceMetadata]="service"></app-service-card>
  </div>
</div>
